In [ ]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import time

In [ ]:
manager = ChromeDriverManager() 
manager.install()

In [ ]:
executable_path = {'executable_path': manager}

In [ ]:
pip install webdriver-manager

In [18]:
from selenium import webdriver

from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

driver.get("http://www.python.org")

driver.close()

In [19]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [20]:
#pull from url

url = 'https://redplanetscience.com/'
browser.visit(url)
time.sleep(3)

In [21]:

html = browser.html
soup = bs(html, "html.parser")

In [22]:
#Label-title

title = soup.find('div', class_="content_title").text

In [23]:
paragraph = soup.find('div', class_ = "article_teaser_body").text

In [24]:
print(title)
print(paragraph)

What's Mars Solar Conjunction, and Why Does It Matter?
NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.

In [12]:
images_url = 'https://spaceimages-mars.com'
browser.visit(images_url)

images_html = browser.html
images_soup = bs(images_html, "html.parser")

browser.links.find_by_partial_text('FULL IMAGE').click()
time.sleep(3)
images_html = browser.html
images_soup = bs(images_html, 'html.parser')

featured_image = images_soup.find('img', class_='fancybox-image')
featured_image_url = 'https://spaceimages-mars.com/'+ featured_image['src']
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

In [25]:
#mars

mars_facts_url = "https://space-facts.com/mars/"
table = pd.read_html(mars_facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [27]:
#data set up 

df = table[0]
df.columns = ["Facts", "Value"]
df.set_index(["Facts"])
df

                  Facts                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [28]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Facts</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [29]:
hemispheres_url = 'https://marshemispheres.com/'
browser.visit(hemispheres_url)
titles = []
urls = []

In [30]:
hemispheres_html = browser.html
hemispheres_soup = bs(hemispheres_html, "html.parser")
hemispheres = hemispheres_soup.find_all('div', class_="description")
for hemisphere in hemispheres:
    titles.append(hemisphere.find('a').text.strip())
    browser.links.find_by_partial_text(hemisphere.find('a').text.strip()).click()
    time.sleep(1)
    hemisphere_html = browser.html
    hemisphere_soup = bs(hemisphere_html, 'html.parser')
    hemisphere_image = hemisphere_soup.find('img', class_='wide-image')
    hemisphere_image_url = hemispheres_url + hemisphere_image['src']
    urls.append(hemisphere_image_url)
    browser.links.find_by_partial_text('Back').click()
    time.sleep(1)
print(title)
print(urls)

What's Mars Solar Conjunction, and Why Does It Matter?
['https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg', 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg', 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [31]:
hemisphere_list = []
i = 0
for title in titles:
    img_url = urls[i]
    hemisphere_dictionary = {'title': title, 'img_url': img_url}
    hemisphere_list.append(hemisphere_dictionary)
    i += 1
hemisphere_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [40]:
browser.quit()